<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mnemonic</title>
    <!-- 아이콘 -->
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="16x16"
      href="../../../uploads/favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="../../useful-css.css" />
    <link rel="stylesheet" href="../../components/css/header.css" />
    <link rel="stylesheet" href="../../components/css/mypage.css" />
    <link rel="stylesheet" href="../../components/css/scroll-top.css" />
    <link rel="stylesheet" href="product-add.css" />
    <script src="product-add.js" type="module" defer></script>
  </head>
  <body>
    <div class="site-wrap">
      <!-- 헤더 -->
      <div class="shopping-mall-header"></div>
      <section class="mypage-container display-center">
        <section class="mypage-container-left"></section>
        <section class="mypage-container-right">
      <!-- 상품등록 -->
      <div class="product-add-wrap">
        <div class="product-add-content">
          <div class="product-add-content-left">
            <div>
              <img
                id="imgId"
                src="../../../uploads/basic-thumnail.png"
                alt=""
              />
            </div>
          </div>
          <div class="product-add-content-right">
            <form
              class="form"
              name="form"
              action=""
              method="post"
              onsubmit=""
              enctype="multipart/form-data"
            >
              <div class="field">
                <label for="user-name">작성자</label>
                <input
                  class="input setName"
                  id="user-name"
                  type="text"
                  readonly
                />
              </div>

              <div class="field">
                <label for="product-name">상품이름</label>
                <input
                  class="input"
                  type="text"
                  id="product-name"
                  placeholder="상품을 입력하세요."
                />
              </div>

              <div class="field">
                <label for="product-price">가격</label>
                <input
                  class="input"
                  type="text"
                  id="product-price"
                  placeholder="가격을 입력하세요.(숫자로)"
                />
              </div>

              <div class="field">
                <label for="product-brand">브랜드</label>
                <input
                  class="input"
                  type="text"
                  id="product-brand"
                  placeholder="브랜드명을 입력하세요."
                />
              </div>

              <div class="product-img">
                <label>이미지 업로드</label>
                <div class="upload-zone">
                  <div class="field">
                    <div class="custom-file">
                      <input
                        type="file"
                        class="custom-file-input"
                        id="inputGroupFile01"
                        name="attachfile"
                        accept="image/*,.img,.jpg"
                        required
                      />
                    </div>
                  </div>

                  <div class="select product-category">
                    <select id="product-category-select">
                      <option selected>선택하세요.</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label for="product-note" class="product-add-contents"
                  >내용</label
                >
                <textarea
                  class="textarea is-small"
                  id="product-note"
                  type="text"
                  placeholder="간단한 상품 설명을 작성 해주세요"
                  rows="3"
                ></textarea>
              </div>

              <div class="field product-add-sumit">
                <button
                  class="button is-black product-add-sumit-btn"
                  id="submit"
                >
                  작성하기
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
        </section>
      <!-- top btn -->
      <a class="backtotop"><i class="fa-solid fa-angle-up"></i></a>
    </div>
  </body>
</html>
