/* reset CSS */
a {
  color: var(--black-color);
}
/* clicked class */
.focus {
  color: var(--black-color);
  font-weight: bold;
}
.mypage-container {
  width: 100%;
  height: 90vh;
}
.mypage-container-left {
  width: 13.75rem;
  height: 43.75rem;
  padding: 1.25rem;
}
.mypage-container-left h2 {
  margin-bottom: 1.25rem;
  font-size: 1.87rem;
  font-weight: bold;
}
.mypage-container-left ul {
  margin-bottom: 3.12rem;
}
.mypage-container-left ul h3 {
  margin: 0.3rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}
.mypage-container-left ul li a {
  color: var(--gray-color);
}
.mypage-container-right {
  width: 62.5rem;
  height: 43.75rem;
  padding: 1.25rem 3.12rem;
}
.mypage-container-right img {
  width: 7.5rem;
  height: 7.5rem;
}
.mypage-user-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30%;
  padding: 1.25rem;
  border: 0.062rem solid var(--gray-color);
  border-radius: 1.25rem;
}
.mypage-user-profile-img {
  display: flex;
  justify-content: center;
  width: 20%;
}
.mypage-user-profile-list {
  width: 56%;
  border-right: 0.062rem solid var(--gray-color);
}
.mypage-user-profile-list ul li:first-child {
  font-weight: bold;
  font-size: 1.25rem;
}
.mypage-user-profile-author {
  display: flex;
  justify-content: center;
  width: 24%;
  font-weight: bold;
  font-size: 1.25rem;
}
.mypage-user-shopping {
  display: flex;
  justify-content: space-between;
  height: 80%;
  margin-top: 2.5rem;
}
.mypage-user-shopping p {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.62rem;
  margin-bottom: 1.25rem;
  border-bottom: 0.12rem solid var(--black-color);
}
.mypage-user-shopping-order {
  width: 48%;
  height: 70%;
  position: relative;
}
.mypage-user-shopping-order span {
  position: absolute;
  top: 0.3rem;
  right: 0;
}
.mypage-user-shopping-sell {
  width: 48%;
  height: 70%;
  position: relative;
}
.mypage-user-shopping-sell span {
  position: absolute;
  top: 0.3rem;
  right: 0;
}