@import '../useful-css.css';

.site-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopping-mall-header {
  width: 100%;
  position: fixed;
  z-index: 30;
}
.mypage-container {
  width: 100%;
  height: 90vh;
  margin-top: 3rem;
}
.mypage-container-right {
  width: 62.5rem;
  height: 43.75rem;
}
.mypage-container-right img {
  width: 7.5rem;
  height: 7.5rem;
}
.mypage-user-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30%;
  padding: 1.25rem;
  border: 0.062rem solid var(--gray-color);
  border-radius: 1.25rem;
}
.mypage-user-profile-img {
  display: flex;
  justify-content: center;
  width: 20%;
}
.mypage-user-profile-list {
  width: 56%;
  border-right: 0.062rem solid var(--gray-color);
}
.mypage-user-profile-list ul li:first-child {
  font-weight: bold;
  font-size: 1.25rem;
}
.mypage-user-profile-author {
  display: flex;
  justify-content: center;
  width: 24%;
  font-weight: bold;
  font-size: 1.25rem;
}
.mypage-user-shopping {
  display: flex;
  justify-content: space-between;
  height: 80%;
  margin-top: 2.5rem;
}
.mypage-user-shopping .mypage-user-shopping-order-list,
.mypage-user-shopping .mypage-user-shopping-sale-list {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.62rem;
  margin-bottom: 1.25rem;
  border-bottom: 0.12rem solid var(--black-color);
}
.mypage-user-shopping-order {
  width: 48%;
  height: 70%;
  position: relative;
}
.mypage-user-shopping-order span {
  position: absolute;
  top: 0.3rem;
  right: 0;
}
.mypage-user-shopping-sell {
  width: 48%;
  height: 70%;
  position: relative;
}
.mypage-user-shopping-sell span {
  position: absolute;
  top: 0.3rem;
  right: 0;
}
.mypage-order, .mypage-sale {
  width: 100%;
  height: 28rem;
  overflow: hidden;
}
.mypage-order .orders-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
}
.order-item-number {
  width: 30%;
  padding: 1rem;
}
.order-item-info {
  width: 45%;
  padding: 1rem;
}
.order-item-state {
  width: 25%;
  padding-left: 2rem;
}
.mypage-sale-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.3rem;
}
.mypage-sale-list img {
  width: 5rem;
  height: 5rem;
}
.mypage-sale-list-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 55%;
  margin-left: 1.5rem;
}
.mypage-sale-list-brand {
  font-weight: bold;
  text-decoration: underline;
}
.mypage-sale-list-content {
  font-size: 0.9rem;
  color: var(--gray-color);
}
.mypage-sale-list-price {
  width: 20%;
  font-weight: bold;
}