@import "../../useful-css.css";

.backtotop {
  display: none;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  border-radius: 3.4rem;
  font-size: 1.7rem;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 50;
}

.backtotop:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}