
.header-search-input {
	width: 20rem;
}
.navbar-menu .is-info:focus {
	box-shadow: none;
	outline: none;
}

.navbar .container {
  display:flex;

}

#navbar {
  display:flex;
}


#main {
  display:flex;
  margin-top : 50px;
  height: 70vh;
}

aside{
  display:flex;
  flex-direction: column;
  align-items: baseline;
  width: 20vw;
  padding: 1em;
}

.content {
  display: flex;
  width: 80vw;
  flex-direction: column;
  padding: 1em;
}

.productCategory{
  display:flex;
  flex-direction: column;
  
  justify-content: center;
}

.columns {
  display: flex;
  width : 20%;
  justify-content: center;
  margin: 5px;
  justify-content: space-between;
}
.input {
  display:none;
}

.tf_category {
  display:none;
}
.changeCategoryBtn {
  display:none;
}
.tf_blog {
  display:none;
}