<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제품 상세 페이지</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-detail.css" />
    <script src="product-detail.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div class="shopping-mall-header"></div>

    <!-- 제품상세 -->
    <section class="product-detail-wrap">
      <section class="product-detail-page">
        <div class="product-detail-page-left">
          <img class="productt-detail-page-img" src="" alt="" />
        </div>
        <div class="product-detail-page-right">
          <div class="product-detail-page-text">
            <p class="productt-detail-page-brand">brand</p>
            <p class="productt-detail-page-name">name</p>
            <p class="productt-detail-page-price">30,000원</p>
            <p class="productt-detail-page-content">content</p>
          </div>
          <div class="product-detail-page-btns">
            <button class="button">장바구니 추가하기</button>
            <button class="button is-black">바로 구매하기</button>
          </div>
        </div>
      </section>
    </section>
  </body>
</html>
