<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제품 상세 페이지</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../../useful-css.css" />
    <link rel="stylesheet" href="product-detail.css" />
    <link rel="stylesheet" href="./product-comment.css">

    <script src="product-detail.js" type="module" defer></script>
    <script src="./product-commnet.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div class="shopping-mall-header"></div>

    <!-- 제품상세 -->
    <section class="product-detail-wrap"></section>

    <!-- 댓글 작성 -->
    <section class="comment-write-wrap"></section>

    <!-- 댓글 리스트 -->
    <section class="comment-list-wrap"></section>
  
  
    <!-- <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
    
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Barbara Middleton</strong>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
            <br>
            <small> <a>Reply</a> · 3 hrs</small>
          </p>
        </div>
    
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
          
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Sean Brown</strong>
                <br>
                Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                <br>
                <small> <a>Reply</a> · 2 hrs</small>
              </p>
            </div>
          </div>
        </article>
    
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
          
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Kayli Eunice </strong>
                <br>
                Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                <br>
                <small> <a>Reply</a> · 2 hrs</small>
              </p>
            </div>
          </div>
        </article>
      </div>
    </article> -->

  
    <!-- 모달 -->
  <section class="product-success-modal">
    <div class="product-success-modal-wrap">
      <p>장바구니에 성공적으로 담겼습니다.</p>
        <div class="product-success-modal-btns">
          <button class="button is-light product-list-btn">
            <a href="/product">구경하기</a>
          </button>
          </button>
          <button class="button is-black product-update-btn">
            <a href="/cart">장바구니</a>
          </button>
        </div>
    </div>
  </section>
  </body>
</html>
