.comment-box {
  width: 100%;
}

.write-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.media {
  width: 70%;
  border: 0.05rem solid #545e6f;
  border-radius: 1rem;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}
.media .media {
  margin: 2rem 0 2rem 0;
}
small a {
  color: blue;
}
.commentId {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.modify-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination-link.is-current {
  background-color: black;
  border-color: black;
}
.media-left {
  text-align: center;
}
.image.is-64x64 {
  height: 0.01rem;
  font-size: 2rem;
  margin-top: 15%;
}
.margin-footer {
  margin-top: 10%;
}
small a {
  color: white;
  background-color: black;
  border-radius: 15%;
}
