<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="delete.css" />
    <script src="delete.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div class="shopping-mall-header"></div>

    <div class="delete-user-account">
      <div class="delete-user-account-wrap">
        <p>계정 삭제를 진행합니다.</p>
        <div class="field">
          <label class="label" for="passwordInput">현재 비밀번호</label>
          <input
            class="input"
            id="passwordInput"
            type="password"
            placeholder="현재 비밀번호를 입력해주세요."
            autocomplete="off"
          />
        </div>
        <div class="delete-user-account-btns">
          <button class="button is-light">
            <a href="/profile">뒤로가기</a>
          </button>
          </button>
          <button class="button is-black">
            <a href="/">탈퇴하기</a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
