* {
  box-sizing: border-box;
}

:root {
/* size */
/* 사이트 최소영역 가로 */
--site-width: 80rem; 

  /* color */
  --black-color: #000;
  --gray-color: #999;
  --white-color: #fff;
}

/* 가운데 배치 */
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 텍스트 한 줄 넘어갈 시, 말줄임표 생성 */
.text-eliellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}