@import '../useful-css.css';

.site-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopping-mall-header {
  width: 100%;
  position: fixed;
  z-index: 30;
}
.register-user-form-container {
  flex-direction: column;
  height: 85vh;
}
.register-user-form-box {
  display: flex;
  justify-content: space-between;
  width: 45em;
}
.register-user-form-box .title {
  text-align: center;
}
.register-user-form-left-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21em;
}
.register-user-form-right-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21em;
}
.register-user-form-box .button {
  font-weight: bold;
}
.register-user-form-box .input:focus {
  border-color: #00d1b2;
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}
.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marginTop {
  margin-top: 0.5em;
}
.hidden {
  visibility: hidden;
}

.button.is-primary {
  background-color: black;
}
