<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제품페이지</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../../useful-css.css" />
    <link rel="stylesheet" href="../components/css/header.css" />
    <link rel="stylesheet" href="product.css" />
    <script src="product.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div class="shopping-mall-header"></div>

    <div class="product-list-warp">
      <section class="product-list-area">
        <!-- 타이틀 -->
        <div class="product-list-area-top"></div>

        <div class="product-list-area-bottom">
          <!-- 카테고리 -->
          <div class="product-list-area-left"></div>

          <!-- 상품 리스트 -->
          <div class="product-list-area-right">
            <ul class="product-list-ul"></ul>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>