a {
  color: #000;
}

.product-list-warp {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product-list-area {
  width: 1280px;
  height: 100vh;
}

.product-list-area-top {
  float: left;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-list-area-top h2 {
  font-size: 30px;
  font-weight: bold;
}

.product-list-area-left {
  float: left;
  width: 20%;
  height: 100vh;
}

.product-list-category {
  margin: 0 20px;
}

.product-list-category p {
  font-size: 25px;
  font-weight: bold;
}

.product-list-category ul {
  font-weight: bold;
  margin: 20px 0;
}

.product-list-category ul li {
  margin: 5px 0;
  font-weight: normal;
}

.product-list-category ul li a {
  color: #999;
}

.product-list-area-right {
  float: right;
  width: 80%;
  height: 100vh;
}

.product-list-area-right ul {
  display: flex;
  flex-wrap: wrap;
}

.product-list-area-right ul li {
  width: 23%;
  height: 380px;
  margin-right: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-list-box {
  cursor: pointer;
}

.product-list-box-img {
  width: 100%;
  height: 230px;
  background-color: #999;
  border-radius: 10px;
}

.product-list-box-brand {
  font-weight: bold;
  margin-top: 10px;
}

.product-list-box-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px 0 5px 0;
}

.product-list-box-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #bababa;
}

.product-list-box-price {
  font-weight: bold;
  font-size: 18px;
  margin-top: 12px;
}
