<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제품페이지</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product.css" />
    <script src="product.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div class="shopping-mall-header"></div>
    <div class="product-list-warp">
      <section class="product-list-area">
        <div class="product-list-area-top">
          <h2>전체상품</h2>
          <p>상품 1,234</p>
        </div>
        <div class="product-list-area-left">
          <div class="product-list-category">
            <p><a href="/product">카테고리</a></p>
            <ul>
              <a href="/product">전체상품</a>
            </ul>
            <ul>
              <a href="#">의류</a>
              <li><a href="#">상의</a></li>
              <li><a href="#">아우터</a></li>
              <li><a href="#">바지</a></li>
              <li><a href="#">원피스</a></li>
              <li><a href="#">스커트</a></li>
            </ul>
            <ul>
              <a href="#">악세사리</a>
              <li><a href="#">가방</a></li>
              <li><a href="#">스니커즈</a></li>
              <li><a href="#">신발</a></li>
              <li><a href="#">시계</a></li>
              <li><a href="#">모자</a></li>
              <li><a href="#">양말</a></li>
            </ul>
          </div>
        </div>
        <div class="product-list-area-right">
          <ul class="product-list-ul">
            <li>
              <a href="/product-detail">
                <img class="product-list-box-img" src="" alt="" />
                <p class="product-list-box-brand">brand</p>
                <p class="product-list-box-name">name</p>
                <p class="product-list-box-content">content</p>
                <p class="product-list-box-price">30,000원</p>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>
