/* reset CSS */
a {
  color: #000;
}

/* clicked class */
.focus {
  color: #000;
  font-weight: bold;
}

.mypage-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-container-left {
  width: 220px;
  height: 700px;
  padding: 20px;
}

.mypage-container-left h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mypage-container-left ul {
  margin-bottom: 50px;
}

.mypage-container-left ul h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.mypage-container-left ul li a {
  color: #999 !important;
}

.mypage-container-right {
  width: 1000px;
  height: 700px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mypage-user-profile-top {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #999;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.mypage-user-profile-top img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #999;
  filter: grayscale(1);
  margin-right: 20px;
}

.mypage-user-profile-top p {
  font-weight: bold;
  font-size: 30px;
}

.mypage-user-profile-list form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.profile-user-data-delete {
  margin: 80px 0;
  text-decoration: underline;
  color: #999;
}
