.slide-container {
  height: 50vh;
  background: rgb(245, 221, 221);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 80%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
img.portrait {
  width: 100%;
  height: auto;
}
img.landscape {
  width: auto;
  height: 100%;
}
.slides {
  width: 645%;
  transition: 2s;
  max-height: 500px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 1s;
}
.slide img {
  width: 78%;
  max-height: 500px;
}
.banner-slide {
  padding: 0px;
  text-align: center;
}
.navigation-manual {
  position: absolute;
  width: 80%;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid #545e6f;

  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navigation-auto {
  position: absolute;
  width: 80%;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}
.navigation-auto div {
  border: 2px solid #545e6f;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.arrow {
  position: absolute;
  width: 80%;
  margin-top: 225px;
  display: flex;
  justify-content: space-between;
}
.arrow div {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  width: 60px;
}
.arrow div:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #545e6f);
  filter: opacity(0.5) drop-shadow(0 0 0 #545e6f);
}
.navigation-auto div:not(:last-child) {
  margin-right: 30px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #545e6f;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #545e6f;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #545e6f;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #545e6f;
}
.manual-btn:not(:last-child) {
  margin-right: 30px;
}
.manual-btn:hover {
  background: #5f5f5f;
}
.title {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 50%);
}
.subtitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}
.inner {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
  margin-top: 20px;
}
.category-brand-sellers-container {
  width: 100%;
  margin-top: 2rem;
}
.category-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category {
  font-size: 1.3rem;
  font-weight: bold;
  color: #545e6f;
}
.class-contain {
  display: flex;
  align-items: center;
}
.class-append {
  font-size: 1rem;

  color: #545e6f;
  margin-right: 10px;
}
.arrow-container {
  display: flex;
}
.class-list {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  overflow: auto;
}
.class-card {
  max-width: 240px;
  width: 100%;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  border-radius: 8px;
  margin: 0 10px;
  transition: 0.4;
  flex-shrink: 0;
}
.class-card img {
  width: 100%;
  height: 60%;
}
.class-card:hover {
  box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
  transform: translate(0, -5px);
}
.class-image {
  max-width: 230px;
  border-radius: 8px 8px 8px 8px;
}
.class-container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}
.class-brand-seller {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class-brand {
  font-size: 0.9rem;
  color: #545e6f;
}
.class-seller {
  font-size: 0.9rem;
  color: #545e6f;
  font-weight: bold;
}
.class-productName-price {
  width: 100%;
  margin-top: 1rem;
  color: #545e6f;
}
.class-productName {
  font-weight: bold;
  /* 부모클래스 값 상속: ingerit*/
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}
.class-price {
  font-size: 0.9rem;
  color: inherit;
  width: 100%;
  text-overflow: ellipsis;
}
li > a {
  cursor: pointer;
}
.productId {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
#backtotop {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition-property: opacity, visibility;
  transition-duration: 0.3s, 0.5s, 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
#backtotop::after {
  content: '\f077';
  font-family: FontAwesome;
  font-size: 1.5rem;
  line-height: 40px;
}
#backtotop.show {
  opacity: 1;
  visibility: visible;
}
#backtotop.show:hover {
  cursor: pointer;
  background-color: #8f949c;
}
@media only screen and (max-width: 768px) {
  .class-brand-seller {
    display: none;
  }
  .class-container {
    padding: 0.5rem;
  }
  .class-productName-price {
    margin-top: 0.3rem;
  }
}
@media screen and (max-width: 480px) {
  .class-card img {
    width: 100%;
    height: 100%;
  }
  .class-card {
    max-width: 75px;
  }
  .class-container {
    display: none;
  }
  .class-productName-price {
    margin-top: 0.3rem;
  }
}
@media screen and (max-width: 1600px) {
  .slide-container {
    height: 35vh;
  }
  .slider {
    width: 100%;
    height: 80%;
  }
  .navigation-auto {
    margin-top: 292px;
    width: 100%;
  }
  .navigation-manual {
    margin-top: 292px;
    width: 100%;
  }
  .class-card {
    max-width: 167px;
  }
  .class-brand-seller {
    display: none;
  }

  .class-card img {
    width: 100%;
  }
  .inner {
    width: 100%;
  }
  .arrow {
    width: 100%;
    margin-top: 11%;
  }
}
@media screen and (max-width: 600px) {
  .slide-container {
    display: none;
  }
}
