<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>관리자 페이지</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../useful-css.css" />
    <link rel="stylesheet" href="../components/css/header.css" />
    <link rel="stylesheet" href="../components/css/scroll-top.css" />
    <link rel="stylesheet" href="admin.css" />
    <script src="admin.js" type="module" defer></script>
  </head>
  <body>
    <div class="site-wrap">
      <!-- 헤더 -->
      <div class="shopping-mall-header"></div>
      <div id="main">
        <aside class="menu">
          <p class="menu-label">회원</p>
          <ul class="menu-list">
            <li><a>회원 관리</a></li>
            <li><a href="/admin/orders">주문 관리</a></li>
            <li><a>배송 관리</a></li>
          </ul>
          <p class="menu-label">판매자</p>
          <ul class="menu-list">
            <li><a>판매자 관리</a></li>
            <li><a>상품 관리</a></li>
            <li><a>상품 문의 관리</a></li>
            <li><a>리뷰 관리</a></li>
          </ul>
          <p class="menu-label">카테고리</p>
          <ul class="menu-list">
            <li><a href="/admin/category">카테고리 추가</a></li>
            <li><a>카테고리 수정</a></li>
            <li><a>카테고리 삭제</a></li>
          </ul>
        </aside>
        <div class="content">
          <h1>관리자 페이지입니다.</h1>
          <p>
            Lorem ipsum<sup><a>[1]</a></sup> dolor sit amet, consectetur
            adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida,
            nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut
            vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel,
            interdum mattis neque. Sub<sub>script</sub> works as well!
          </p>
          <h2>Second level</h2>
          <p>
            Curabitur accumsan turpis pharetra
            <strong>augue tincidunt</strong> blandit. Quisque condimentum
            maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel
            cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus
            lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.
          </p>
        </div>
      </div>
    </div>
    <!-- top btn -->
    <a class="backtotop"><i class="fa-solid fa-angle-up"></i></a>
  </body>
</html>
