@import '../../useful-css.css';

.site-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopping-mall-header {
  width: 100%;
  z-index: 30;
}
.header-search-input {
  width: 20rem;
}
.navbar-menu .is-info:focus {
  box-shadow: none;
  outline: none;
}
.navbar .container {
  display: flex;
}
#navbar {
  display: flex;
}
#main {
  display: flex;
  
  height: 70vh;
  align-items: baseline;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 15vw;
  padding: 1em;
  margin : 40px 30px;
  padding-top:35px;
}
.menut {
  position: fixed;
}
.content {
  display: flex;
  width: 80vw;
  flex-direction: column;
  padding: 1em;
}

.message {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.card {
  width:50%;
}