<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mnemonic</title>
    <!-- 아이콘 -->
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="16x16"
      href="../../../uploads/favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../useful-css.css" />
    <link rel="stylesheet" href="../components/css/header.css" />
    <link rel="stylesheet" href="../components/css/scroll-top.css" />
    <link rel="stylesheet" href="admin.css" />
    <script src="admin.js" type="module" defer></script>
  </head>
  <body>
    <div class="site-wrap">
      <!-- 헤더 -->
      <div class="shopping-mall-header"></div>
      <div id="main">
        <aside class="menu">
          <p class="menu-label">회원</p>
          <ul class="menu-list">
            <li><a>회원 관리</a></li>
            <li><a href="/admin/orders">주문 관리</a></li>
            <li><a>배송 관리</a></li>
          </ul>
          <p class="menu-label">판매자</p>
          <ul class="menu-list">
            <li><a>판매자 관리</a></li>
            <li><a>상품 관리</a></li>
            <li><a>상품 문의 관리</a></li>
            <li><a>리뷰 관리</a></li>
          </ul>
          <p class="menu-label">카테고리</p>
          <ul class="menu-list">
            <li><a href="/admin/category">카테고리 관리</a></li>
          </ul>
        </aside>

        <article class="message">
          <div class="content box">관리자 페이지</div>
          <div class="message-header">
            <p>주문 관리</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <strong>Pellentesque risus mi</strong>, tempus quis placerat ut,
            porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam
            gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
            Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales,
            arcu et sollicitudin porttitor, tortor urna tempor ligula, id
            porttitor mi magna a neque. Donec dui urna, vehicula et sem eget,
            facilisis sodales sem.
          </div>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">신규주문</p>
                <p class="title">346</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">취소관리</p>
                <p class="title">12</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">반품관리</p>
                <p class="title">45</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">교환처리</p>
                <p class="title">7</p>
              </div>
            </div>
          </nav>
          <article class="message is-info">
            <div class="message-header">
              <p>공지사항</p>
              <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
              [교환 / 반품 공지사항]<br />
              1. 교환/반품 시 신청서 작성은 필수입니다.<br />
              2. 택배비는 3,000원 입니다<br />
              [교환 / 반품]<br />
              1. 상품을 수취하신 날로부터 7일 이내(영업일 기준)에 교환/환불이
              가능합니다.<br />
              2. 상품 착용 시에는 교환/환불이 불가능합니다.<br />
              3. 처음 수령한 포장 상태와 동일하지 않을 경우 교환/환불이
              불가능합니다.
            </div>
          </article>
          <div class="card">
            <div class="card-content">
              <p class="title">
                Mnemonic SNS 이벤트 <br /><br />
                자세한 사항은 Mnemonic 인스타그램과 페이스북을 이용해주세요
              </p>
              <p class="subtitle">Mnemonic</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span> 인스타그램 </span>
              </p>
              <p class="card-footer-item">
                <span> 페이스북</span>
              </p>
            </footer>
          </div>
        </article>
      </div>
    </div>
    <!-- top btn -->
    <a class="backtotop"><i class="fa-solid fa-angle-up"></i></a>
  </body>
</html>
