.header-search-input {
	width: 20rem;
}
.navbar-menu .is-info:focus {
	box-shadow: none;
	outline: none;
}

.navbar .container {
  display:flex;

}

#navbar {
  display:flex;
}


#main {
  display:flex;
  border:3px solid blue;
  margin-top : 50px;
  height: 70vh;
}

aside{
  display:flex;
  flex-direction: column;
  align-items: baseline;
  border:1px solid red;
  width: 20vw;
  padding: 1em;
}

.content {
  display: flex;
  border:1px solid black;
  width: 80vw;
  flex-direction: column;
  padding: 1em;
}
