<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mnemonic</title>
    <!-- 아이콘 -->
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="16x16"
      href="../../../uploads/favicon.png"
    />
    <!-- href="kdt-sw2-busan-team06.elicecoding.com/favicon.ico" -->
    <!-- bulma css -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    /> -->
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../useful-css.css" />
    <link rel="stylesheet" href="../components/css/header.css" />
    <link rel="stylesheet" href="../components/css/scroll-top.css" />
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="./css/nomalize.css" />
    <script src="home.js" type="module" defer></script>
  </head>
  <body>
    <div class="site-wrap">
      <!-- 헤더 -->
      <div class="shopping-mall-header"></div>

      <!-- 슬라이더 -->
      <div class="slide-container">
        <div class="slider">
          <div class="banner-box">
            <div class="img-box">
              <img class="banner-img" src="../../../uploads/banner01.png" alt="" />
              <img class="banner-img" src="../../../uploads/banner02.png" alt="" />
              <img class="banner-img" src="../../../uploads/banner03.png" alt="" />
              <img class="banner-img" src="../../../uploads/banner04.png" alt="" />
              <img class="banner-img" src="../../../uploads/banner05.png" alt="" />
              <img class="banner-img" src="../../../uploads/banner01.png" alt="" />
            </div>
          </div>

          <!--           <div class="slides">
            <input
              type="radio"
              class="radio-btn"
              name="radio-btn"
              id="radio1"
              checked
            />
            <input
              type="radio"
              class="radio-btn"
              name="radio-btn"
              id="radio2"
            />
            <input
              type="radio"
              class="radio-btn"
              name="radio-btn"
              id="radio3"
            />
            <input
              type="radio"
              class="radio-btn"
              name="radio-btn"
              id="radio4"
            />

            <div class="slide first">
              <img src="./img/bannerImg1.jpg" alt="" />
            </div>

            <div class="slide">
              <img src="./img/bannerImg2.jpg" alt="" />
            </div>

            <div class="slide">
              <img src="./img/bannerImg3.jpg" alt="" />
            </div>

            <div class="slide">
              <img src="./img/bannerImg4.jpg" alt="" />
            </div>

            <div class="slide">
              <img src="./img/bannerImg1.jpg" alt="" />
            </div>

            <div class="navigation-auto">
              <div class="auto-btn1"></div>
              <div class="auto-btn2"></div>
              <div class="auto-btn3"></div>
              <div class="auto-btn4"></div>
            </div>
            <div class="navigation-manual">
              <label for="radio1" class="manual-btn"></label>
              <label for="radio2" class="manual-btn"></label>
              <label for="radio3" class="manual-btn"></label>
              <label for="radio4" class="manual-btn"></label>
            </div>
            <div class="arrow">
              <div class="arrow-left">
                <img src="./img/left-arrow.png" alt="" />
              </div>
              <div class="arrow-right">
                <img src="./img/right-arrow.png" alt="" />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="setCategoryProducts"></div>

      <footer class="display-center">
        <div class="footer-box">
          <ul>
            <li>회사소개</li>
            <li>인재채용</li>
            <li>이용약관</li>
            <li>개인정보처리방침</li>
          </ul>
          <p>
            니모닉 주식회사 · 대표 오원빈 사업자등록번호:000-00-00000
            사업자정보확인 통신판매업:제 2021-C-0093호
          </p>
          <p>
            사업장소재지: 서울특별시 강남구 선릉로 117, 8층
            개인정보관리책임자:박찬흠
          </p>
          <p>
            니모닉(주)는 통신판매 중개자로서 통신판매의 당사자가 아니므로 개별
            판매자가 등록한 상품정보에 대해서 책임을 지지 않습니다. 단,
            거래과정에서 검수하고 보증하는 내용에 대한 책임은 당사에 있습니다.
          </p>
          <p>© Mnemonic</p>
        </div>
      </footer>
      <!-- top btn -->
      <a class="backtotop"><i class="fa-solid fa-angle-up"></i></a>
    </div>
  </body>
</html>
