@import '../useful-css.css';

.site-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopping-mall-header {
  position: fixed;
  z-index: 30;
}
.login-form-container {
  height: 85vh;
}
.login-form-box {
  width: 30rem;
}
.login-form-box .title {
  text-align: center;
}
.login-form-box .button {
  font-weight: bold;
}

#submitButton {
  background-color: black;
}
#title {
  color: black;
}
.lable-container {
  display: flex;
  justify-content: space-between;
}
