@import "../useful-css.css";

.login-form-container {
  height: 85vh;
}
.login-form-box {
  width: 30rem;
}
.login-form-box .title {
  text-align: center;
}
.login-form-box .button {
  font-weight: bold;
}
