@import "../../useful-css.css";

.site-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopping-mall-header {
  position: fixed;
  z-index: 30;
}
.order-section {
  width: 100%;
  margin-top: 7rem;
}
.navbar-menu .is-info:focus {
  box-shadow: none;
  outline: none;
}
.account-header {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 0.7rem;
}
.orders-container {
  margin: 5rem auto 2rem;
  max-width: 1600px !important;
}
.orders-top {
  border-bottom: 1px solid #aaa;
  padding: 0;
  text-align: center;
}
.orders-item {
  align-items: center;
  text-align: center;
}
.orders-item:not(:last-child) {
  border-bottom: 1px solid #bbb;
}
.order-section {
  display:flex;
}
.menu {
  width  :15vw;
  padding: 1em;
  margin : 0 30px;
  position: fixed;
}